// Body
$body-bg: #eef1f3;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$side-menu-width: 300px !default;
$side-menu-width-2: 260px !default;
$side-menu-width-3: 240px !default;

// Body
$body-bg: #f9fafb;

// Typography
$font_stack_1: 'Roboto', sans-serif;
$font_stack_2: 'Poppins', sans-serif;
$font_stack_3: 'Martel', serif;

$box_shadow_1: rgba(185, 172, 200, 0.25);

// Colors
$blue: #5d95ff;
$blue_dark: #082b6d;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
