.main-header {
    position: fixed;
    max-height: 100px;
    z-index: 1030;
    width: 100%;
    top: 0;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.033);

    .navbar {
        position: relative;
        background-color: #fff;
        padding: 0;
        height: 50px;

        .navbar-brand {
            background: #3a3f48;
            color: #fff;
            text-align: center;
            height: 50px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            padding: 0.75rem;
        }

        .user-menu {
            img {
                width: 36px;
                border-radius: 12px;
            }
        }

        .btn{
              box-shadow: none;
        }

        .btn-navbar {
            border: none;
            padding: 7px 14px;
            font-size: 20px;
            color: #7a7f8c;

            .badge {
                top: auto;
                position: absolute;
                bottom: 8px;
                right: 4px;
                color: #fff;
                font-weight: 600;
                font-size: 10px;
                padding: 1px 3px;
                border: 2px solid #fff;
            }
        }

        .btn-navbar::after {
            display: none;
        }
    }
}

.rtl {
    .main-header {
        .navbar {
            .navbar-brand {
                margin-left: 1rem;
                margin-right: auto;
            }
        }
    }
}

body.sidebar-toggled .main-header {
    .logo-mini {
        display: none;
    }

    .logo-lg {
        display: block;
    }

    .navbar-brand {
        width: 260px;
    }
}

body.sidebar-mini .main-header {
    .logo-lg {
        display: none;
    }

    .logo-mini {
        display: block;
    }

    .navbar-brand {
        width: 50px;
    }
}

.rtl .dropdown-menu-lg-right {
    left: 0;
    right: auto;
}
